@model ToDoItemsWithCategoriesViewModel
@{
    ViewData["Title"] = "ToDoList Home Page";

    var categoriesDict = Model.Categories.ToDictionary(i => i.id, i => i.name);
}

<div class="container">
    <form asp-action="ChangeDataSource" method="post" class="mb-5">
        <div class="form-group mb-2">
            <label for="sourse">Data Source</label>
            <select id="sourse" name="sourse" class="form-select">
                <!option value="db" @(Model.Type == "db" ? "selected" : "")>SQL Server</!option>
                <!option value="xml" @(Model.Type == "xml" ? "selected" : "")>XML File</!option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <form asp-action="Index" method="post" class="mb-5">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group mb-2">
            <label for="category_id">Category</label>
            <select id="category_id" name="category_id" class="form-select">
                @foreach(var item in Model.Categories)
                {
                    <option value="@item.id">@item.name</option>
                }
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="name">Text</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Text" />
        </div>
        <div class="form-group mb-2">
            <label for="deadline">Deadline</label>
            <input type="datetime-local" id="deadline" name="deadline" />
        </div>
        <input type="hidden" id="type" name="type" value="@Model.Type" />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div>
        <div class="list-group">
            @foreach(var item in Model.ToDoItems)
            {
                string bgColor = "list-group-item-info  ";
                if (item.is_completed)
                {
                    bgColor = "list-group-item-success";
                }
                else if (item.deadline == null)
                {
                    bgColor = "";
                }
                else if (DateTime.Compare((DateTime)item.deadline, DateTime.Now) <= 0) {
                    bgColor = "list-group-item-danger";
                }

                <div class="list-group-item list-group-item-action @bgColor">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.name</h5>
                        @if (item.deadline is not null)
                        {
                            <small>@item.deadline</small>
                        }
                    </div>
                    <p class="mb-1">Category: @categoriesDict[item.category_id]</p>

                    <a asp-action="CompleteToDoItem" asp-route-id="@item.id" asp-route-type="@Model.Type" class="btn btn-success">
                        @if (item.is_completed)
                        {
                            <span>Uncompleted</span>
                        }
                        else
                        {
                            <span>Completed</span>
                        }
                    </a>
                    <a asp-action="DeleteToDoItem" asp-route-id="@item.id" asp-route-type="@Model.Type" class="btn btn-danger">Delete</a>
                </div>
            }
        </div>
    </div>
</div>